@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  visibility: hidden;
  user-select: none;
  background: white;
  overscroll-behavior: none;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.row {
  display: flex;
  height: 100%;
  padding: 0 32px;
}
.v-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.page {
  height: 100vh;
  width: 100%;
  background: white;
}
.row {
  /* display: flex;
  align-items: center; */
}
